NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
GOOGLE_SECRET= # google secret 
GOOGLE_CLIENT_ID= # google client id
VHIOBOT_API_HOST= # http://localhost:3009/api/v1
NEXT_PUBLIC_SOCKET_URL= # http://localhost:3009/
SECRET_API_KEY= # generate your key 
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL= # http://localhost:3009/api/v1
